<!--
  Generated template for the PendientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>pendientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid *ngIf="( _listaDeseos.listas | pendientes ).length === 0">
      <ion-row>
        <ion-col class="text-center caja-vacia">
            <ion-icon class="icono-grande" ios="ios-sunny" md="md-sunny"></ion-icon>
            <p >No hay lista</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let lista of _listaDeseos.listas | pendientes; let i = index">
    
      <ion-item (click)="verDetalle(lista, i)">
        <ion-card-header>
          {{lista.nombre}}
        </ion-card-header>
        <ion-note item-right>
          {{ lista.items.length }} item
        </ion-note>
      </ion-item>
    
      <ion-list>
        <ion-item (click)="verDetalle(lista, i)"
            *ngFor="let item of lista.items | slice:0:2">
            <ion-icon *ngIf="!item.completado"  ios="ios-square-outline" md="md-square-outline"></ion-icon>
            <ion-icon *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          {{ item.nombre }}
        </ion-item>

        <ion-item class="text-center" *ngIf="lista.items.length > 2">
            <ion-icon color="primary" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>
      </ion-list>
    
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="toAgregar()">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
      </ion-fab>

</ion-content>
